<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
</head>
<body>
    <%- include ('./partials/nav.ejs') %>
    <div class="container-fluid index-container">
        <div class="padding"></div>
        <div class="row index-bpadding">
            <div class="col-sm">
                <div class="text-center index-bpadding">
                    <img src="/pics/logo.JPG" id="index-logo"/>
                </div>
                <h2 class="index-bpadding">Welcome!</h2>
                <p>Thanks for visiting spiritualcardboard. Limited prints are currently for sale! If you would like to see more of my work, please visit @spiritualcardboard on Instagram.</p>
                <p>Thank you for your support!</p>
                <div class="auto-width"></div>
                <hr>
                <h2 id="about">About Tommy</h2>
                <p>Tommy Attwood is a 21 year old artist from Los Angeles. He currently goes to college in New York City.</p>
                <p>Tommy finds reality to be absurd, scary, and hilarious. His drawings are products of his thoughts and observations. Sometimes they're wholesome and uplifting; other times they're dark and nihilistic. This feels appropriate.</p>
                <p>You can find the bulk of Tommy's work on Instagram through the link above. </p>
            </div>
            <div class="col-sm insta-feed">
                <img class="full-width" src="/pics/feed1.PNG"/>
                <img class="full-width" src="/pics/feed2.PNG"/>
                <img class="full-width" src="/pics/feed3.PNG"/>
                <img class="full-width" src="/pics/feed4.PNG"/>
                <img class="full-width" src="/pics/feed5.PNG"/>
            </div>
        </div>
        <hr>
        <%- include ('./partials/footer.ejs') %>
    </div>
    <%- include ('./partials/scripts.ejs') %>
</body>
</html>