<!DOCTYPE html>
<html>
    <head>
        <%- include ('./partials/head.ejs') %>
    </head>
    <body style="padding: 30px">
        <%- include ('./partials/nav.ejs') %>
        <h1 style="padding-left: 20px;">New Print Details</h1>
        <form action="/prints" method="POST">
            Name: <input type="text" name="name" /><br/>
            Price: <input type="text" name="price" /><br/>
            File Name w Extension: <input type="text" name="imgSrc" /><br/>
            <input type="submit" name="" value="Add Print"/>
        </form>
        <%- include ('./partials/footer.ejs') %>
    </body>
</html>