<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
</head>
<body>
    <%- include ('./partials/nav.ejs') %>
    <div class="container-fluid sketch-container">
        <div class="padding"></div>
        <canvas class="full-width" id="sketchpad"></canvas>
    </div>
    <hr>
    <%- include ('./partials/footer.ejs') %>
    <%- include ('./partials/scripts.ejs') %>
</body>
</html>