<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
</head>
<body>
    <%- include ('./partials/nav.ejs') %>
    <div class="container-fluid sketch-container">
        <div class="padding-sm"></div>
        <div id="canvas-container">
            <h3>Spiritual Sketchpad</h3>
            <canvas class="full-width" id="sketchpad"></canvas>
        </div>
        <div id="drawing-controls">
            <div class="right">
                <div id="line-color">
                    <input type="color" oninput="sdb.setLineColor(this.value)">
                </div>
                <div id="line-size">
                    <input type="range" value="1" min="1" max="8" oninput="sdb.setLineSize(this.value)">
                </div>
                <div id="undo-redo">
                    <button onclick="sdb.undo()">undo</button>
                    <button onclick="sdb.redo()">redo</button>
                </div>
            </div>
        </div>
        <script src="/simple-drawing-board.js"></script>
        <script>
            window.sdb = window.SimpleDrawingBoard.create(document.getElementById("sketchpad"));
        </script>
    </div>
    <hr>
    <div class="container-fluid caption-container">
        <div class="row index-bpadding">
            <div class="col-sm left" id="form-div">
                <h3>Cardboard Captions:</h3>
                <form id="caption-form">
                    <input type="text" class="form-control" id="user-caption">
                </form>
                <button type="text" class="btn btn-primary" onclick="addCaption()">submit</button>
            </div>
            <div class="col-sm" id="spiritual-cartoon">
                <img class="full-width caption-img" src="/pics/name.jpg"/>
                <div id="caption-div"></div>
            </div>
        </div>
    </div>
    <hr>
    <%- include ('./partials/footer.ejs') %>
    <%- include ('./partials/scripts.ejs') %>
    <script>
        const addCaption = () => {
            $('#caption-div').empty().append($('<h6>').text($('#user-caption').val()).attr("class","caption"));
            $('#user-caption').val("");
        }
    </script>
</body>
</html>