body {
    background-color: rgb(250, 250, 250);
}

.body-pad {
    padding: 30px;
}

.footer-div {
    padding-top: 20px;
    padding-bottom: 20px
}

.nav-partial, .checkout-nav {
    padding-left: 10px
}

.nav-partial li {
    padding-top: 10px;
}

.nav-partial li.dropdown {
    width: 115px; 
    margin-right: 20px; 
    margin-bottom: 10px; 
    margin-top: 10px; 
    float: right;
}

#cart-icon {
    width: 23%;
}

/* not working... */
.cart-dropdown {
    width: 320px; 
    transform: translate3d(-205px, 0px, 0px);
    top: 53px;
}

.cart-dropdown .item {
    padding-left: 8px;
}

div.cart-item {
    display: inline-block;
    width: 200px;
}

.left { 
    float: left;
}

.right {
    float: right;
}

.inline-block {
    display: inline-block;
}

.right button.dropdown-item {
    font-weight: bold;
    float: right;
}

#co-logo {
    width: 70px;
    padding-top: 1px; 
    padding-right: 25px;
}

.checkout-container, .index-container, .show-container, .sketch-container, .prints-container {
    padding-left: 65px;
    padding-right: 65px;
}

div.padding {
    width: 100%;
    height: 70px;
}

div.padding-sm {
    width: 100%;
    height: 30px;
}

.checkout-bpadding, .checkout-bpadding h2,  .index-bpadding, .show-container, .sketch-container .prints-bpadding {
    padding-bottom: 15px;
}

.checkout-tpadding {
    padding-top: 25px;
}

.checkout-img img {
    height: 110px;
    padding-right: 12px;
}

.checkout-img button {
    padding-right: 7px;
}

.total-label {
    padding-top: 10px;
}

.total {
    padding-top: 10px;
    padding-right: 39px;
}

#checkout-hr {
    margin-top: 40px;
}

.header-lpadding {
    padding-left: 20px;
}

#index-logo {
    width: 70%;
    padding-bottom: 30px;
}

.auto-width {
    width: auto;
    height: 30px;
}

#about {
    padding-bottom: 10px;
    padding-top: 30px;
}

.insta-feed {
    height: 875px;
    overflow: auto;
}

.full-width {
    width: 100%;
}

.show-img {
    width: 45%;
    padding-bottom: 15px;
}

.normal-font {
    font-weight: normal;
}

#prints-top {
    width: 100%;
    padding-bottom: 15px;
}

.full-w-h {
    width: 100%;
    height: 100%;
}

.auto-w-pad {
    width: auto;
    height: 5px;
}

.spiritual-div {
    height: auto;
    width: 100%;
}

.row .col {
    padding: 0px;
}

.nav-img {
    width: 50px;
}

.nav-div {
    transform: translate(0px,8px);
}