body {
    background-color: rgb(250, 250, 250);
}

.footer-div {
    padding-top: 20px;
    padding-bottom: 20px
}

.nav-partial, .checkout-nav {
    padding-left: 10px
}

.nav-partial li {
    padding-top: 10px;
}

.nav-partial li.dropdown {
    width: 115px; 
    margin-right: 20px; 
    margin-bottom: 10px; 
    margin-top: 10px; 
    float: right;
}

#cart-icon {
    width: 23%;
}

.cart-dropdown {
    min-width: 250px; 
    transform: translate3d(-135px, 38px, 0px);
}

.cart-dropdown .item {
    padding-left: 8px;
}

div.cart-item {
    display: inline-block;
    width: 200px;
}

.left { 
    float: left;
}

.right {
    float: right;
}

.inline-block {
    display: inline-block;
}

.right button.dropdown-item {
    font-weight: bold;
    float: right;
}

#co-logo {
    width: 100%;
    padding-top: 1px; 
    padding-right: 25px;
}

.checkout-container {
    padding-left: 65px;
    padding-right: 65px;
}

div.padding {
    width: 100%;
    height: 70px;
}

.checkout-bpadding, .checkout-bpadding h2 {
    padding-bottom: 15px;
}

.checkout-tpadding {
    padding-top: 25px;
}

.checkout-img img {
    height: 110px;
    padding-right: 12px;
}

.checkout-img button {
    padding-right: 7px;
}

.total-label {
    padding-top: 10px;
}

.total {
    padding-top: 10px;
    padding-right: 39px;
}

#checkout-hr {
    margin-top: 40px;
}
